[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-cors = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
joblib = "*"
numpy = "*"
requests = "*"
pyscopg2 = "*"
psycopg2-binary = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
